###########################################################
# The parameters in this section must be configured.
###########################################################

# The URL used for bootstrapping knowledge about the rest of the cluster. This address can be found in the 'Connection information' page for your topic in the Event Streams UI.
bootstrap.servers=

# The location of the JKS keystore used to securley communicate with your Event Streams instance. This can be downloaded from the 'Connection information' page for your topic in the Event Streams UI.
ssl.truststore.location=

# The producer API key for your topic should be added in the password field below. API keys can be set up via the 'Connection information' page for your topic in the Event Streams UI.
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="token" password="";

###########################################################
# The parameters in this section can be configured, and sensible defaults have been set.
###########################################################

# The default batch size in bytes when batching multiple records sent to a partition.
batch.size=1000

# The total bytes of memory the producer can use to buffer records waiting to be sent to the server.
buffer.memory=10000

# The maximum number of unacknowledged requests the client will send on a single connection before blocking.
max.in.flight.requests.per.connection=1000

# The number of acknowledgments the producer requires the leader to have received before considering a request complete.
acks=0

###########################################################
# The parameters in this section should not need to change.
###########################################################

# Configure the producer to use SASL.
security.protocol=SASL_SSL
ssl.truststore.password=password
sasl.mechanism=PLAIN
ssl.protocol=TLSv1.2