###################################################################
# The parameters in this section must be configured if uncommented (by removing preceding # symbol).
###################################################################

# The following parameters can be found in the Event Streams UI by selecting a topic that you want to produce to and clicking the 'Connect to this Topic' link.
# The exact requirements depend on the version and configuration of the Event Streams instance.

# BOOTSTRAP - The external URL in the Kafka listener and credentials section
bootstrap.servers=

# CLUSTER CERTIFICATE (unless TLS is disabled)
# ssl.truststore.location=
# ssl.truststore.password=

# SCRAM SHA 512 CREDENTIALS (if SCRAM SHA 512 is enabled)
# security.protocol=SSL
# sasl.mechanism=SCRAM-SHA-512
# sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="" password="";

# MUTUAL AUTH (if TLS Auth is enabled)
# security.protocol=SSL
# ssl.keystore.type=PKCS12
# ssl.keystore.location=
# ssl.keystore.password=

# SASL PLAIN CREDENTIALS (only for Event Streams 2019.4.2 and earlier)
# security.protocol=SASL_SSL
# sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="token" password="";

###########################################################
# The parameters in this section can be configured, and sensible defaults have been set.
###########################################################

# Minimum secure protocol
ssl.protocol=TLSv1.2

# The default batch size in bytes when batching multiple records sent to a partition.
batch.size=1000

# The total bytes of memory the producer can use to buffer records waiting to be sent to the server.
buffer.memory=10000

# The maximum number of unacknowledged requests the client will send on a single connection before blocking.
max.in.flight.requests.per.connection=1000

# The number of acknowledgments the producer requires the leader to have received before considering a request complete.
acks=0